<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="suwaaaa.author.springboot_redis.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="suwaaaa.author.springboot_redis.damain.User">
    <id column="userId" jdbcType="INTEGER" property="userid" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="passcode" jdbcType="VARCHAR" property="passcode" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="vip" jdbcType="BIT" property="vip" />
    <result column="creat_time" jdbcType="DATE" property="creatTime" />
  </resultMap>
  <sql id="Base_Column_List">
    userId, age, name, address, passcode, phone, mail, vip, creat_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where userId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="suwaaaa.author.springboot_redis.damain.User">
    insert into user (userId, age, name, 
      address, passcode, phone, 
      mail, vip, creat_time)
    values (#{userid,jdbcType=INTEGER}, #{age,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{passcode,jdbcType=VARCHAR}, #{phone,jdbcType=INTEGER}, 
      #{mail,jdbcType=VARCHAR}, #{vip,jdbcType=BIT}, #{creatTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="suwaaaa.author.springboot_redis.damain.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="passcode != null">
        passcode,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="vip != null">
        vip,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="passcode != null">
        #{passcode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="vip != null">
        #{vip,jdbcType=BIT},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="suwaaaa.author.springboot_redis.damain.User">
    update user
    <set>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="passcode != null">
        passcode = #{passcode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="mail != null">
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="vip != null">
        vip = #{vip,jdbcType=BIT},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=DATE},
      </if>
    </set>
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="suwaaaa.author.springboot_redis.damain.User">
    update user
    set age = #{age,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      passcode = #{passcode,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER},
      mail = #{mail,jdbcType=VARCHAR},
      vip = #{vip,jdbcType=BIT},
      creat_time = #{creatTime,jdbcType=DATE}
    where userId = #{userid,jdbcType=INTEGER}
  </update>
</mapper>